
/**
    IMPORTS
**/

@import url('https://use.fontawesome.com/releases/v4.6.3/css/font-awesome-css.min.css');

/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'FontAwesome';
    src: url('https://use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot');
    src: url('https://use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('https://use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff') format('woff'),
    url('https://use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('https://use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
    GENERAL
**/
.scrbbl-storytelling {
    padding:0;
    margin:0;
    font-family: Muli;
    font-size:18px;
    position:relative;
    overflow: initial;
}

.scrbbl-storytelling.expanded {
    overflow: hidden;
}

.SL-IMAGE + * {
    padding-top:50px;
}

.SL-IMAGE + .SL-VIDEO {
    padding-top: 0;
}

/**
    IMAGES
**/

.SL-IMAGE {
    position:relative;
    margin:auto;
    text-align: center;
    width: 800px;
}

.SL-IMAGE > img {
    max-width:800px;
    max-height:500px;
}

.SL-IMAGE > .caption-container {
    display:block;
    text-align: center;
    position:absolute;
    bottom:20px;
    right:20px;
    background-color:#0DB0A9;
}

.SL-IMAGE > .caption-container > p {
    color: white;
    font-size: 20px;
    padding:5px 10px;
    margin:0;
}

.SL-IMAGE > .caption-container > p > * {
    color:white;
    text-decoration:none;
}

.SL-IMAGE.hero-image > .caption-container div {
    color: white;
    font-size: 32px;
}

.SL-IMAGE.hero-image {
    background-position: center center;
    background-size:cover;
    width:100%;

}

.SL-IMAGE.hero-image.desktop {
    height:100vh;
}

.SL-IMAGE.hero-image > .caption-container {
    display:block;
    align-items:center;
    justify-content: center;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);
    right:0;
    bottom:0;
    position:absolute;
    overflow: hidden;
    line-height: initial;
}

.SL-IMAGE.hero-image > .caption-container > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.SL-IMAGE.hero-image > .caption-container > p {
    font-size:32px;
}

.SL-IMAGE.TRANSITION {
    background-attachment: fixed;
    box-sizing: border-box;
    display: block;
    height:100vh;
    min-height: 229px;
    position: relative;
    width:100%;
    background-position:initial;
}

.SL-IMAGE.TRANSITION > .caption-container {
    z-index: 10;
}

.SL-IMAGE.TRANSITION .section-background.fixed {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    clip: rect(0px, auto, auto, 0px);
    color: rgb(51, 51, 51);
    display: block;
    height:100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    width:100%;
    z-index: 2;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .SL-IMAGE.TRANSITION .section-background.fixed {
        -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
        z-index: 0;
    }
}

.SL-IMAGE.TRANSITION picture {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    height: 100vh;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0) translateZ(0);
    width:100%;
    z-index: 3;
}

.SL-IMAGE.TRANSITION picture > img {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    height: 100%;
    position: relative;
    width:100%;
    object-fit:cover;
}

.SL-IMAGE > .hero-arrow-button {
    display:flex;
    height:100%;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    z-index: 20;
}

.SL-IMAGE > .hero-arrow-button > .arrow {
    color: #FFFFFF;
    z-index: 30;
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    border-color: transparent;
    background-color: transparent;
    border-width: 5px;
    border-left: 6px solid white;
    border-bottom: 6px solid white;
    transform: rotate(-45deg);
}

.SL-IMAGE > .hero-arrow-button > .arrow:hover {
    border-color: #dedede;
    cursor: pointer;
}

/**
    TEXT
**/

.SL-TEXT {
    width:800px;
    height:auto;
    text-align:center;
    margin:auto;
    margin-bottom:1.2em;
}

.SL-TEXT >  * {
    margin:0;
    font-size:18px;
    text-align:left;
    line-height:1.5em;
}

/**
    INSTAGRAM
**/

.SL-INSTAGRAM {
    padding:20px 0;
}

.SL-INSTAGRAM > * {
    width:500px;
    margin:auto;
}

/**
    FACEBOOK
**/

.SL-FACEBOOK {
    padding:20px 0;
}

.SL-FACEBOOK > * {
    margin:auto;
    text-align: left;
}

.SL-FACEBOOK iframe {
    display: block;
    margin: auto;
    position: relative !important;
    max-width: 500px !important;
}

.SL-FACEBOOK > .fb-post > span {
    width: 100% !important;
}

.SL-FACEBOOK .fb_iframe_widget {
    display: block;
    text-align: center;
}

.SL-FACEBOOK > div:not(.sl-untracked-social) {
    overflow: hidden;
    width: 800px;
}

/**
    TWITTER
**/

.SL-TWITTER {
    padding:20px 0;
}

.SL-TWITTER > * {
    margin:auto;
}

/**
    HTML
**/

.SL-HTML {
    margin: auto;
    max-width: 800px;
    padding: 20px 0;
    text-align: center;
}

.SL-HTML h1,
.SL-HTML h2,
.SL-HTML h3,
.SL-HTML h4,
.SL-HTML h5,
.SL-HTML h6 {
    text-align: left;
}

.SL-HTML p {
    text-align:left;
}

.SL-HTML > div {
    margin:auto;
    text-align:left;
}

.SL-HTML > div > iframe {
    display: block;
    margin-left:auto;
    margin-right:auto;
    min-height:300px;
}

.SL-HTML .row {
    display:flex;
}

.SL-HTML .row.two-col {
    margin:0;
}

.SL-HTML .row .col-md-6 {
    flex:6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}

.SL-HTML .row .col-md-6 * {
    width:100%;
}

.SL-HTML blockquote {
    font-size:1.5em;
    margin: 0;
    font-weight: 100;
    font-style: italic;
    padding:0px 50px;
    line-height:2em;
}

.SL-HTML blockquote > div {
    border:solid gray;
    border-width:1px 0px;
    padding:50px 0;
    text-align:center;
}

.SL-HTML > div {
    overflow: hidden;
}

.SL-HTML:not(.sl-untracked) > div > * {
    height:auto;
    margin:auto;
    line-height:1.5em;
    text-align:left;
}

.SL-HTML .scrbbl-post-embed {
    text-align:center;
}

.SL-HTML > div > p {
    font-size:18px;
}

.SL-HTML > div > div > twitterwidget {
    margin: auto;
}

.SL-HTML .fb-post {
    display: block;
    text-align: center;
}

.SL-HTML > .youtube-post {
    min-height:300px;
    text-align:center;
}

.SL-HTML .youtube-post > iframe,
.SL-HTML iframe[src*="youtube.com"] {
    height: calc(800px / 16 * 9);
    width: 100% !important;
}

.SL-HTML .row > *:first-child {
    padding:0 10px 0 0;
}

.SL-HTML .row > *:last-child {
    padding:0 0 0 10px;
}

.SL-HTML blockquote {
    padding:20px 0;
}

.SL-HTML blockquote > p {
    padding:0 50px;
    font-weight: 100;
    font-style: italic;
}

.SL-HTML iframe {
    display: block;
    margin:auto;
    position: relative !important;
    width:500px !important;
}

.SL-HTML figure {
    text-align:center;
}

.SL-HTML figure img {
    width:100%;
}

/**
    AUDIO
**/

audio {
    width: 100%;
}

.SL-AUDIO .caption-container {
    width: 100%;
    text-align: left;
}

/**
    POLL
**/

.SL-POLL {
    padding: 15px 0;
}

.poll-question{
    margin: auto;
    padding: 15px 0;
    font-weight: 500;
    background: #eeeeee;
    color: #333;
    text-indent: 15px;
    width: 800px;
}

/* POLL ANSWERS */

.poll-answers {
    width:800px;
    margin:auto;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.3s;
}
.poll-answers--hidden {
    opacity: 0;
}
.poll-answer {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
}
.poll-answer--last {
    border-bottom: none;
}
.poll-answer--hover {
    background: #0DB0A9;
    cursor: pointer;
    color: white;
}

/* END POLL ANSWERS */

/* POLL RESULTS */

.poll-results{
    border: 1px solid #eeeeee;
    padding: 20px;
    transition: opacity 0.3s;
    opacity: 1;
    width: 758px;
    margin: auto;
}
.poll-results--hidden {
    opacity: 0;
}
.poll-result-item{
    margin: 15px 0;
}
.poll-result-item-row{
    display: flex;
    margin-bottom: 5px;
}
.poll-result-item-description{
    text-align: left;
    flex: 1;
}
.poll-result-item-description__votes{
    color: #cccccc;
}
.poll-result-item-bar{
    flex: 3;
    background: #eee;
    position: relative;
    height: 30px;
}
.poll-result-item-bar__color-bar{
    background: #0DB0A9;
    display: block;
    height: 100%;
    transition: width 1s;
}
.poll-result-item-percentage{
    width: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* END POLL RESULTS */

/**
    VIDEO
**/

.SL-VIDEO {
    width:800px;
    margin:20px auto;
    text-align:center;
    overflow: hidden;
}

.SL-VIDEO > video {
    width:100%;
}

.SL-VIDEO > .caption-container > p {
    font-size: 18px;
    text-align: left;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
}

.SL-VIDEO.hero {
    width:100% !important;
    height:100vh !important;
    position:relative;
    overflow: hidden;
    margin:0 auto;
}

.SL-VIDEO.hero > video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .SL-VIDEO.hero > video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
    }
}

.SL-VIDEO.hero > video::-webkit-media-controls-start-playback-button {
    -webkit-appearance: none;
    display: none;
}

.SL-VIDEO.hero > .caption-container {
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);
    right:0;
    bottom:0;
    position:absolute;
    overflow: hidden;
}

.SL-VIDEO.hero > .caption-container > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.SL-VIDEO.hero > .caption-container div {
    color: white;
    font-size: 32px;
}

.SL-VIDEO.hero > .caption-container > p {
    font-size:32px;
    color:white;
    text-align:center;
}


.SL-VIDEO.hero > .fa-video-camera {
    color: white;
    font-size: 28px;
    position: absolute;
    right: 12px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    top: 12px;
    z-index: 1;
}

/**
    PDF
**/
.SL-EMBED iframe#viewer {
     width: 90%;
     margin-left: auto;
     margin-right: auto;
     display: block;
}
/**
    COLUMNS
**/
[class^=SL] .two-col,
[class^=SL] .three-col {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
}

[class^=SL] .two-col > div,
[class^=SL] .three-col > div {
    flex: 1;
}

[class^=SL] .two-col-right,
[class^=SL] .two-col-left {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
}

[class^=SL] .two-col-right > div,
[class^=SL] .two-col-left > div {
    flex: 3;
}

[class^=SL] .two-col-right > div:first-child {
    flex: 9;
}

[class^=SL] .two-col-left > div:last-child {
    flex: 9;
}

[class^=SL] .row .col-md-3 div:first-child,
[class^=SL] .row .col-md-6 div:first-child,
[class^=SL] .row .col-md-9 div:first-child {
    margin: 18px 0px;
}


/**
    Lists
**/

.LIST {
    display:block;
    width:100%;
    margin:50px 0;
}

.LIST > * {
    background-position:center center;
    background-attachment: fixed;
    background-size:cover;
    height:100vh;
    width:100%;
}

/**
    ADVERTISEMENTS
**/

.SL-ADVERTISEMENT {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
}

/**
    Expanded
**/
.SL-EXPANDED {
    -webkit-overflow-scrolling: touch;
    align-items: center;
    background: black;
    display: flex;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 31;
}

.SL-expanded-inner {
    max-height: 80%;
    overflow: visible;
    width: 100%;
}

.SL-expanded-image {
    height: auto;
    margin-left: 50%;
    max-height: 60vh;
    max-width: 100%;
    transform: translateX(-50%);
    width: auto;
}

.SL-expanded-caption {
    background: transparent;
    color: white;
    padding: 20px 20px 40px;
}

.SL-expanded-caption * {
    color: white;
}

.SL-expanded-close {
    color: white;
    font-size: 36px;
    left: 16px;
    position: absolute;
    top: 13px;
}

/**
    Footer
 **/

.SL-footer {
    text-align: right !important;
}

.SL-footer img {
    border: none;
    box-shadow: none;
    height: 31px;
}

/**
    SMALLER SCREEN
**/

@media only screen and (max-width: 800px) {
    [class^=SL]:not(.SL-IMAGE):not(.LIST):not(.SL-EXPANDED):not(.SL-expanded-inner):not(.SL-expanded-image) {
        width:768px;
    }

    .SL-HTML .youtube-post > iframe,
    .SL-HTML iframe[src*="youtube.com"] {
        height: calc(500px / 16 * 9);
        width: 500px !important;
    }

    .SL-POLL {
        margin: auto;
    }

    .SL-POLL > .poll-question {
        width: auto;
        margin: auto;
    }

    .SL-POLL > .poll-answers,
    .SL-POLL > .poll-results {
        width: auto;
    }
}

/**
    MOBILE
**/

@media only screen and (max-width: 768px) {
    /**
        GENERAL
    **/

    .scrbbl-storytelling > *:not(.SL-IMAGE):not(.LIST):not(.SL-EXPANDED):not(.SL-expanded-inner):not(.SL-expanded-image):not(.sl-untracked), .SL-HTML:not(.sl-untracked) > div > * {
        max-width: 100%;
        width:auto;
        line-height:1.5em;
    }

    [class^=SL]:not(.SL-IMAGE):not(.LIST):not(.SL-EXPANDED):not(.SL-expanded-inner):not(.SL-expanded-image) {
        width:auto;
    }

    /**
        IMAGE
    **/
    .SL-IMAGE {
        width:100%;
        height:300px;
        overflow: hidden;
    }

    .SL-IMAGE:not(.hero-image) img {
        left: 50%;
        max-height: none;
        max-width: none;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .SL-IMAGE > .caption-container > p {
        font-size: 18px;
    }

    .SL-IMAGE > .hero-arrow-button > .arrow {
        margin-bottom: 75px;
    }

    /**
        TEXT
    **/
    .SL-TEXT > * {
        padding:0 15px;
        width: auto;
    }

    /**
        HTML
    **/

    .SL-HTML {
        padding: 10px 15px;
        width: auto;
    }

    .SL-HTML > div {
        padding:0;
    }

    .SL-HTML .row {
        flex-direction:column;
    }

    .SL-HTML.img-right .row {
        flex-direction: column-reverse;
    }

    .SL-HTML .row .col-md-6 {
        display:block;
        padding:0;

    }

    .SL-HTML .row .col-md-6 * {
        text-align:left;
        line-height:1.5em;
    }

    .SL-HTML .youtube-post > iframe,
    .SL-HTML iframe[src*="youtube.com"] {
        max-width: 100%;
    }

    .SL-HTML .scrbbl-post-embed {
        width: auto;
        overflow-x: hidden;
    }

    /**
        POLLS
    **/

    .SL-POLL {
        padding:20px 15px;
    }

    .SL-POLL > .poll-question {
        width: 100%;
    }

    .SL-POLL > .poll-answers {
        width:100%;
        margin:auto;
    }

    .SL-POLL > .poll-results {
        margin: auto;
        width: auto;
    }

    /**
        FACEBOOK
    **/
    .SL-FACEBOOK {
        padding: 10px 15px;
    }

    .SL-FACEBOOK > div:not(.sl-untracked-social) {
        width: 100%;
    }

    .SL-FACEBOOK.sl-untracked {
        padding: 20px 15px;
    }

    /**
        TWITTER
    **/
    .SL-TWITTER > * {
        width:100%;
    }

    .SL-TWITTER {
        padding:0 15px;
    }

    .SL-TWITTER.sl-untracked {
        padding: 15px;
    }

    /**
        Instagram
    **/

    .SL-INSTAGRAM {
        padding: 20px 15px;
        
        max-width:100%;
    }

    .SL-INSTAGRAM > * {
        width: auto;
        margin:auto;
        overflow-x:hidden;
    }

    .SL-INSTAGRAM iframe {
        max-width: 100%;
    }

    /**
        AUDIO
    **/

    .SL-AUDIO .caption-container {
        padding: 0 15px;
        width: auto;
    }

    /**
        LIST
    **/
    .LIST {
        height:auto;
    }

    .LIST > * {
        height: 100vh;
        background-attachment: scroll;
    }

    .SL-IMAGE.TRANSITION {
        background-attachment: scroll;
    }

    /**
        ADVERTISEMENTS
    **/
    .SL-ADVERTISEMENT {
        padding: 10px 0;
    }

    /**
        FOOTER
    **/
    .SL-footer {
        padding-right: 15px;
    }
}

@media only screen and (max-width: 530px) {
    /**
        FACEBOOK
    **/
    .SL-FACEBOOK > div:not(.sl-untracked-social) {
        width: 100%;
    }

    .SL-FACEBOOK iframe {
        width: calc(100vw - (15px * 2)) !important;
    }

    /**
        HTML
    **/
    .SL-HTML iframe {
        width: 100% !important;
    }
}

html, body {
    height: 100vh;
    overflow: auto;
}
body {
    width: 1px !important; min-width: 100% !important; *width: 100% !important;
    -webkit-overflow-scrolling:touch;
    overflow: initial;
}

/**
    CONSENT FORM
**/

body {
    min-height: 100vh;
    text-align: center;
    font-family: 'Roboto',arial,sans-serif;
    background: url("https://embed.scribblelive.com/modules/consentform/images/streapre.png") no-repeat center center fixed, url("https://embed-dev.scribblelive.com/modules/consentform/images/streapre.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.consent-form {
    position: absolute;
    text-align: center;
    top: 2%;
    left: 5%;
    right: 5%;
    box-shadow: 0 15px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 3% 3%;
    background-color: white;
    border-radius: 10px;
    opacity: 0.95;
    z-index: 100;
}

.consent-form-buttons {
    display: flex;
    justify-content: center;
}

.consent-form-button {
    height: 40px;
    margin: 0 10px;
    border-width: 0;
    background: #f0f0f0;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
    -moz-transition-property: background-color, box-shadow;
    -o-transition-property: background-color, box-shadow;
    -webkit-transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow;
    -moz-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    padding: 0;
}
.consent-form-button:focus, .consent-form-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.consent-form-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    -moz-transition-duration: 10ms;
    -o-transition-duration: 10ms;
    -webkit-transition-duration: 10ms;
    transition-duration: 10ms;
}
.consent-form-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
}
